<h3>Nuevo Item</h3>
<!--       INPUT CANTIDAD          -->
<form (ngSubmit)="grabarItem()">
  <div class="input-group input-group-sm mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="inputGroup-sizing-sm">Cantidad</span>
    </div>
    <input name="itemCantidad" [(ngModel)]="nuevoItem.cantidad" type="number" class="form-control" aria-label="Sizing example input"
      aria-describedby="inputGroup-sizing-sm">
  </div>
<!--       SELECT IVAN          -->
  <div class="input-group input-group-sm mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="inputGroup-sizing-sm">IVA</span>
    </div>
    <select name="itemIVA" [(ngModel)]="nuevoItem.IVA">
      <option>10.5</option>
      <option>21.0</option>
    </select>
  </div>
<!--       SELECT PRODUCTO          -->
  <div class="input-group input-group-sm mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="inputGroup-sizing-sm">Producto</span>
    </div>
    <select name="productoId" [(ngModel)]="nuevoItem.productoId" value=prod.id>
      <option [ngValue]="prod.id" *ngFor="let prod of _productsRepoService.listadoProductos">{{prod.descripcion}}</option>
    </select>
  </div>

  <button class="btn btn-success">Grabar</button><br>
</form>