<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</head>

<body >
    <div style="background-color: black; text-align: center; margin: 0px 0px; padding: 15px;">
        <a class="btn btn-primary" style="padding: 25px ; margin: 10px 10px;" routerLink="/clientes">Clientes</a>
        <a class="btn btn-primary" style="padding: 25px ; margin: 10px 10px;" routerLink="/productos">Productos</a>
        <a class="btn btn-primary" style="padding: 25px ; margin: 10px 10px;" routerLink="/facturas">Facturas</a>
    </div>
</body>
<router-outlet></router-outlet>

</html>