<div style="margin: 10px 10px;">
  <h3>Nueva Factura</h3>
  <form (ngSubmit)="grabarFactura()">
<!--       INPUT TIPO          -->
    <div>
      <div class="input-group input-group-sm mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-sm">Tipo</span>
        </div>
        <input name="Tipo" [(ngModel)]="nuevaFactura.tipo" type="text" class="form-control"
          aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
      </div>

<!--       INPUT NUMERO FACTURA          -->
      <div class="input-group input-group-sm mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-sm">Numero Factura</span>
        </div>
        <input name="Numero" [(ngModel)]="nuevaFactura.numero" type="text" class="form-control"
          aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
      </div>

<!--       INPUT PUNTO DE VENTA          -->
      <div class="input-group input-group-sm mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-sm">Punto Venta</span>
        </div>
        <input name="ptoVta" [(ngModel)]="nuevaFactura.ptoVenta" type="number" class="form-control"
          aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
      </div>

<!--       SELECT CLIENTE          -->
      <div class="input-group input-group-sm mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-sm">Cliente</span>
        </div>
        <select name="clienteId" [(ngModel)]="nuevaFactura.clienteId"  >
          <option [ngValue]="cli.id" *ngFor="let cli of _clientesRepoService.listadoClientes" >{{cli.nombre}}</option>
        </select>
      </div>

    </div>




    <div style="margin: 0px 80px;">
      <button class="btn btn-success" >Siguiente</button>
    </div>

  </form>
  <div style="margin: -37.5px 0px;">
    <a class="btn btn-dark" routerLink="/facturas">Atras</a><br>
  </div>


</div>